{% load static %}
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LITReview</title>
    
    <link rel="shortcut icon" href="{% static 'img/nav_logo.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">

    {% block head %}{% endblock %}
</head>

<body>

    <div id="menu">
        <h1>LITReview</h1>
        <img src="{% static 'img/logo_white.png' %}" alt="" class="main-logo">
        <a href="{% url 'feed' %}" class="nav-btn">Flux</a>
        <a href="" class="nav-btn">Posts</a>
        <a href="{% url 'follows' %}" class="nav-btn">Abonnements</a>
        <a href="{% url 'logout' %}" id="logout-btn">Se déconnecter</a>
    </div>     

    {% block content %}{% endblock %}
</body>