{% extends 'login.html' %}

{% load static %}

{% block content %}
   
<form action="" method="post" novalidate  class="login-form">
    {% csrf_token %}
    <fieldset>
        <legend>Inscription:</legend>
        {% for field in form %}
        <div class="fieldWrapper">
            {{ field }} <br><br>
            
            {% for error in field.errors %}
                <span class="error">{{ error }}</span>
            {% endfor %}
        </div>
        {% endfor %}
        <br><input type="submit" value="S'inscrire">
    </fieldset>    
</form>

{% endblock %}