body{
    margin-bottom: 500px;
}

.creation-form {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    max-width: 60%;
}

.fieldWrapper > input{
    width: 100%;
}

textarea {
    min-height: 200px;
    width: 100%;
    resize: vertical;
}

#submit-btn{
    display: block;
    position: relative;
    margin-right: 0;
    margin-left: auto;
}

/* CSS pour les étoiles de notation */
#id_rating {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

