body{
    margin-bottom: 500px;
}

.creation-form {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    max-width: 60%;
}

.fieldWrapper > input{
    width: 100%;
}

textarea {
    min-height: 200px;
    width: 100%;
    resize: vertical;
}

#submit-btn{
    display: block;
    position: relative;
    margin-right: 0;
    margin-left: auto;
}

fieldset{
    border-radius: 10px;
}

/* CSS pour les étoiles de notation */
#id_rating {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.ticket-snippet{
    display: grid;
    grid-template-columns: 1fr 1000fr;
}

.ticket-snippet .ticket-img{
    grid-row: 1 / span 5;
    grid-column: 1 / 1;
    width: 250px;
    margin-right: 20px;
    border-radius: 10px;
}

.ticket-snippet h2{
    margin-top: 0;
    margin-bottom: 0;
    grid-row: 1 / 1;
    grid-column: 2 / span 1;    
}

.ticket-snippet h3{
    height: 30px;
    margin-top: 20px;
    margin-bottom: 0;
    grid-column: 2 / span 1;
}

.ticket-snippet .ticket-title,
.ticket-snippet .ticket-description{
    margin-top: 0;
    margin-bottom: 0;
    grid-column: 2 / span 1;
}

