* {
    box-sizing: border-box;
}

body
{
    background-color: #111;
    margin-top: 110px;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 100px;
    overflow-y: scroll;
}

.centered-container{
    margin-right: auto;
    margin-left: auto;
}

h1 {
    text-align: center;
}

#menu
{
    position: fixed;
    width: 100%;
    list-style-type: none;
    color: white;
    background-color: #333;
    top: 0;
    left: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-height: 80px;
}

#menu > h1 {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: fit-content;
}
  
#menu > a
{
    color: white;
    text-align: center;
    padding: 14px 16px;
    margin-right: 20px;
    text-decoration: none;
    height: 100%;
    border-radius: 10px;
}

#menu a .main-logo{
    position: absolute;
    margin-left: 20px;
    margin-top: 10px;
    top: 0;
    left: 0;
    max-height: 60px;
}


.nav-btn:hover 
{
    background-color: #111;
    cursor: pointer;
    transition: 0.5s;
}


#logout-btn:hover{
    background-color: #b93a3a;
    transition: 0.5s;
}
