{% extends 'base.html' %}

{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/follow.css' %}">
{% endblock %}

{% block content %}

    <h1>Suivre d'autres utilisateurs</h1>

    <form method="POST" class="centered-container follow-form" autocomplete="off">

        {% csrf_token %}

        <div class="autocomplete">
            <input id="myInput" name="followed_user" type="text" placeholder="Rechercher un utilisateur...">
        </div>

        <input type="submit" value="Envoyer">
    </form>

    <h1>Abonnements</h1>

    <table class="user-list centered-container">
        {% csrf_token %}
        {% for username in followed_users %}
        <tr>
            <td class="username">{{ username }}</td>
            <td class="unfollow-btn">Désabonner</td>
        </tr>
        {% endfor %}
    </table>    


    <h1>Abonnés</h1>

    <table class="user-list centered-container">
        {% for username in followers %}
        <tr>
            <td>{{ username }}</td>
        </tr>            
        {% endfor %}
    </table> 

    <script src="{% static 'js/follows.js' %}"></script>

{% endblock %}
