#top_buttons
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
    gap: 20px;

}

#top_buttons > a
{
    color: inherit;
    text-decoration: none;    
    border: 1px solid black;
    background-color: #333;
    width: 300px;
    text-align: center;
    vertical-align: bottom;
    border-radius: 15px;
    line-height: 50px;    
}

#top_buttons > a:hover
{
    border-color: aliceblue;
}

.snippet{
    display: grid;
    border: 1px solid #888;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    margin-bottom: 10px;
}


/* REVIEW SNIPPETS STYLE */
.ticket-snippet{
    grid-template-columns: auto auto 160px 160px;
}

.ticket-snippet .ticket-date{
    grid-row: 1 / 1;
    grid-column: 1 / span 4;    
    margin-left:10px;
}

.ticket-snippet .ticket-author{
    grid-row: 1 / 1;
    grid-column: 1 / span 4;
    text-align: right;
    padding-right: 20px;
}

.ticket-snippet .ticket-img{
    align-self: flex-start;
    grid-row: 2 / span 2;
    grid-column: 1 / 1;
    width: 250px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.ticket-snippet .ticket-title{
    grid-row: 2 / 2;
    grid-column: 2 / span 3;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 0;
}

.ticket-snippet .ticket-description{
    grid-row: 3 / span 1;
    grid-column: 2 / span 3;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 0;
}

.snippet-button{
    height: 40px;
    width: 150px;
    margin-bottom: 10px;
    margin-right: 10px;
    background-color: #333;
    color: white;
    border-radius: 10px;
    border:1px solid black;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;    
}

.snippet-button:hover{
    border: 1px solid white;
    cursor: pointer;
}

.snippet-button.delete-button:hover{
    transition: 0.3s;
    background-color: #b93a3a;
    border: 1px solid white;
    cursor: pointer;
}

.ticket-snippet .edit-button{
    grid-row: 4 / 4;
    grid-column: 3 / span 1;
}

.ticket-snippet .delete-button{
    grid-row: 4 / 4;
    grid-column: 4 / span 1;
}

.ticket-snippet .review-button{
    grid-row: 4 / 4;
    grid-column: 4 / span 1;
}


/* REVIEW SNIPPETS STYLE */
.review-snippet{
    grid-template-columns: auto 160px 160px;
}

.review-snippet .review-date{
    grid-row: 1 / 1;
    grid-column: 1 / span 3;    
    margin-left:10px;
}

.review-snippet .review-author{
    grid-row: 1 / 1;
    grid-column: 1 / span 3;
    text-align: right;
    padding-right: 20px;
}

.review-snippet .review-title{
    grid-row: 2 / 2;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0;
}

.review-snippet .review-description{
    grid-row: 4 / 4;
    grid-column: 1 / span 3;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0;
}

.review-snippet .ticket-snippet{
    width: 90%;
    grid-row: 5 / span 1;
    grid-column: 1 / span 3;
}

.review-snippet .edit-button{
    grid-row: 6 / 6;
    grid-column: 2 / span 1;
}

.review-snippet .delete-button{
    grid-row: 6 / 6;
    grid-column: 3 / span 1;
}