{% extends 'base.html' %}

{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
    
<form action="" method="post" class="login-form">
    {% csrf_token %}
    <fieldset>
        <legend>Connectez-vous :</legend>

        {% for field in form %}
        <div class="fieldWrapper">
            {{ field }} <br><br>

            {% for error in field.errors %}
                <span class="error">{{ error }}</span>
            {% endfor %}            
        </div>
        {% endfor %}

        <input type="submit" value="Se connecter">
    </fieldset>

    <p>Inscrivez vous maintenant</p>
    <a href="/register"><input type="button" value="S'incrire"></a>            
</form>

{% endblock %}