<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <title>LITReview - Connexion</title>
</head>
<body>

    <p>Connectez-vous</p>
    <form method="get" action="" id="login">
        <ul>
            <li><label for="identifiants">Identifiant</label>:<input type="text" value="" name="identifiants"></li>
            <li><label for="password">Mot de passe</label>:<input type="password" value="" name="password"></li>
            <li><input type="button" value="se connecter"></li>
        </ul>
    </form>

    <p>Inscrivez vous maintenant</p>
    <input type="button" value="s'incrire">
    
</body>
</html>