{% extends 'base.html' %}

{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/feed.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block content %}

    <div id="top_buttons">
        <a href="{% url 'new_ticket' %}">Demander une critique</a>
        <a href="{% url 'new_review' %}">Créer une critique</a>
    </div>

    <div class="feed-content">
        {% for post in posts %}

            {% if post.content_type == 'TICKET' %}

                {% include 'ticket_snippet.html' with ticket=post is_reviewable=True %}

            {% elif post.content_type == 'REVIEW' %}

                {% include 'review_snippet.html' with review=post ticket=post.ticket %}

            {% endif %}

        {% endfor %} 
    </div>
    
    <script src="{% static 'js/feed.js' %}"></script>

{% endblock %}