<div class="snippet ticket-snippet" id="{{ ticket.pk }}">
    <p class="ticket-date">Le {{ ticket.time_created }}</p>
    <p class="ticket-author">{{ ticket.user.username }} a demandé une critique</p>
    
    {% if ticket.get_image_url != "" %}
        <img class="ticket-img" src="{{ ticket.get_image_url }}">
    {% endif %}
    
    <h2 class="ticket-title">{{ ticket.title }}</h2>
    <p class="ticket-description">{{ ticket.description }}</p>

    {% if is_editable %}
        <input class="snippet-button edit-button" type="button" value="Modifier">
        <input class="snippet-button delete-button" type="button" value="Supprimer">
    {% endif %}
</div>